@use 'variaveis'


*
    font-family: 'Josefin Sans'
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: variaveis.$bg-color

    a
        color: variaveis.$text-color
        text-decoration: none
        transition: .4s